<div class="card">
    <div class="card-body">
      <form novalidate
            (ngSubmit)="save(signupForm)"
            #signupForm="ngForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="companyName">Company Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="companyName"
                   type="text"
                   placeholder="84.51 / Kroger"
                   required
                   minlength="3"
                   [(ngModel)]=pipeline.companyName
                   name="companyName"
                    />
            <span class="invalid-feedback">
              <span>
                The first name must be longer than 3 characters.
              </span>
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="programName">Program Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="programName"
                   type="text"
                   placeholder="Data Foundations / Comms / Inisghts / Merch"
                   required
                   maxlength="50"
                   [(ngModel)]="pipeline.programName"
                   name="programName"
                  />
            <span class="invalid-feedback">
              <span>
                The last name must be less than 50 characters.
              </span>
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="applicationName">Application Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="applicationName"
                   type="text"
                   placeholder="Application "
                   required
                   [(ngModel)]="pipeline.applicationName"
                   name="applicationName"
                    />
            <span class="invalid-feedback">
            </span>
          </div>
        </div> 

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="applicationComponent">Application Component Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="applicationComponent"
                   type="text"
                   placeholder="i.e. data service component"
                   required
                   [(ngModel)]="pipeline.applicationComponentName"
                   name="applicationComponentName"
                    />
            <span class="invalid-feedback">
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="hostingModel">Hosting Model</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="hostingModel"
                   type="text"
                   placeholder="Cloud / On-Prem / Hybrid"
                   required
                   [(ngModel)]="pipeline.hostingModel"
                   name="hostingModel"
                    />
            <span class="invalid-feedback">
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="environment">Environment</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="environment"
                   type="text"
                   placeholder="Dev / Stage / Prod"
                   required
                   [(ngModel)]="pipeline.environment"
                   name="environment"
                    />
            <span class="invalid-feedback">
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="pipelineName">Pipeline Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="pipelineName"
                   type="text"
                   placeholder="i.e. Dev build pipeline"
                   required
                   [(ngModel)]="pipeline.pipelineName"
                   name="pipelineName"
                  />
            <span class="invalid-feedback">
            </span>
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="pipelineType">Pipeline Type</label>
          <div class="col-md-8">
            <input class="form-control"
                   style="width: 100%;"
                   id="pipelineType"
                   type="text"
                   placeholder="Build / Deploy / Test"
                   required
                   [(ngModel)]="pipeline.pipelineType"
                   name="pipelineType"
                   />
            <span class="invalid-feedback">
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"
                    type="submit"
                    style="width:80px"
                    [title]="signupForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
</div>