@import '~assets/sass/variables';

:host {
  .layout-wrap {
    .nav-bar {
      padding-left: $side-bar-width;
      @media #{$max991} {
        padding-left: 0;
      }
    }
    .main {
      padding-left: $side-bar-width;
      @media #{$max991} {
        padding-left: 0;
      }
    }
  }
}
